<section class="mt-6 mx-40">
  <%= render 'question' %>
  <%= render partial: 'comments/comments', locals: { comments: @comments } %>
  <%= render partial: 'comments/comment_form', locals: { commentable: @question } %> 
  <%= render 'answers' %>
</section>