<% if user_signed_in? %>
  <%= form_with(model: [ commentable, Comment.new(commentable: commentable) ], local: true) do |f| %>
    <div class="field flex flex-col border-spacing-4">
      <%= f.text_field :content, placeholder: 'Agrega un comentario', class: 'text-sm p-2 rounded-lg border-slate-300 border-2' %>
    </div>
    <div class="actions flex justify-end my-2">
      <div class="p-2 bg-green-500 rounded-lg text-sm text-white font-semibold cursor-pointer">
        <%= f.submit 'Comentar', class: 'cursor-pointer' %>
      </div>
    </div>
  <% end %>
<% end %>