<section id="answers_all">
  <div class="py-6">
    <h2 class="text-xl justify-center font-semibold p-4"> <%= answers.count %> Respuesta(s)</h2>
    <div>
      <%= render partial: 'answers/answers' %>
    </div>
    <div>
      <%= render partial: 'answers/form' %>
    </div>
  </div>
</section>